<% if logged_in? %>
  <a href="/users/<%=current_user.id%>">view <%= current_user.username %>'s profile</a>
  <a href="/posts">HOME</a>
<% end %>

<h3><%= @post.title %></h3><p>by <%= @post.user.username %></p><br>
<%= @post.content %>

<div id="vote-form">
 <form class="vote-button" action="/posts/<%= @post.id %>/post_votes" method="POST">
    <input type="hidden" name="post_vote[value]" value="1">
    <input type="submit" value="UPVOTE">
  </form>

  <div id="total-votes">
    <%= @post.total_votes %>
  </div>

  <form class="vote-button" action="/posts/<%= @post.id %>/post_votes" method="POST">
    <input type="hidden" name="post_vote[value]" value="-1">
    <input type="submit" value="DOWNVOTE">
  </form>
</div>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %> - <%=comment.user.username%></li>
  <% end %>
</ul>

<% if logged_in? %>
  <a href="/posts/<%=@post.id%>/comments/new">add comment</a>

<% if current_user == @post.user %>
  <p><a href="/posts/<%= @post.id %>/edit">Edit Post</a></p>

  <form action="/posts/<%= @post.id %>" method="POST" >
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="DELETE THIS POST">
  </form>
<% end %>

<%end %>